// Define variables for your color scheme

// For example:
$red: #D3455B;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1AAE9F;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #D1EFEC;
$light-red: #F7DADE;
$medium-gray: #4B5C6B;
