<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Здраво <%= @user.first_name %>,
    </p>
    <p>
      Би благодарам за комплетирањето на вашиот профил на Cargster.co.
    </p>
    <p>
      Нашата платформа е сè уште во рана фаза и работиме
      напорно за да изградиме мрежа на превозници и шпедитери.
      Ве охрабруваме да ја раширите веста и да ги поканите вашите партнери да
      ни се придружат. Колку повеќе корисници имаме, толку поголема вредност ке
      добивате од истата.
    </p>
    <p>👇🏻 Сподели</p>
    <p>
      <%= render 'shared/prefilled_email' %>
    </p>
    <p>
      👇🏻 Ако имате какви било прашања или идеи
    </p>
    <p>
      <%= mail_to "nikola@cargster.co" %>
    </p>
    <p>
      Поздрав,
    </p>
    <p>
      Никола
    </p>
  </body>
</html>
