<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Почитувани <%= @user.name %>,
    </p>
    <p>
      Ви благодарам што се приклучивте на нашата веб-апликација за размена на товат!
    </p>
    <p>
      Нашата апликација е дизајнирана да ви заштеди време во пронаоѓање на соодветните тури.
    </p>
    <p>
      Можете да објавите Вашите тури и да ги видите достапните тури од други компании.
    </p>
    <p>
      Плус, колку повеќе компании се приклучуваат, толку поголема вредност ќе добиете од истата.
    </p>
    <p>
      Затоа, Ве молиме да ни помогнете да ја проследиме пораката за апликацијата на Вашите партнери 👉🏻
      <%= mail_to '', 'Сподели по е-маил', subject: 'Hello', body: 'How are you?', class:"btn btn-primary text-white w-100" %>
    </p>
    <p>
      Ви благодариме за приклучувањето и се радуваме да работиме со Вас.
    </p>
    <p>
      Ве молиме да не се колебате доколку имате некои прашања или сугестии, можете да не контактирате на овој е-маил.
    </p>
    <p>
      Со почит,
    </p>
    <p>
      Никола
    </p>
  </body>
</html>
