<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Здраво <%= @user.first_name %>,
    </p>
    <p>
      Честитки за комплетирањето на вашиот профил на Cargster.co.
      Сега сте подготвени да започнете да ја користите нашата платформа за да
      ги пронајдете совршените превозници и шпедитери.
      Со користење на нашата платформа, ќе можете да ја направите
      вашата комуникација поефикасна.
    </p>
    <p>
      За потсетување, нашата платформа е сè уште во рана фаза и работиме
      напорно за да изградиме мрежа на превозници и шпедитери.
      Ве охрабруваме да ја раширите веста и да ги поканите вашите партнери да
      ни се придружат. Колку повеќе корисници имаме, толку подобро ќе можеме
      да ги задоволиме вашите потреби. Платформа можете да ја споделите со
      вашите партнери на врската долу 👇🏻 .
    </p>
    <p>
      <%= render 'shared/prefilled_email' %>
    </p>
    <p>
      Ако имате какви било прашања или ви треба помош, не двоумете се да
      контактирате на овој мејл. Секогаш сме тука да помогнеме.
    </p>
    <p>
      Плус, колку повеќе компании се приклучуваат, толку поголема вредност
      ќе добиете од истата.
    </p>
    <p>
      Ви благодариме што се придруживте на Cargster.co.
      Со нетрпение очекуваме да ви помогнеме да си ја поедноставите работата.
    </p>
    <p>
      Поздрав,
    </p>
    <p>
      Никола
    </p>
  </body>
</html>
