// Import page-specific CSS files here.
@import "home";
@import "shared/navbar";

.form-select {
  color: #757575;
}

.form-label, .col-form-label {
  margin-left: 0.75rem;
  font-size: 0.75rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.form-control {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;  max-width: 100%;
  background-color: white;
  border-style: none;
  border-radius: 0.5rem;
  border: 0;
  height: 2.75rem;
}

.btn-primary {
  border-radius: 0.5rem;
}
.btn-outline-primary {
  border-radius: 0.5rem;
}

// .shadoww {
//   box-shadow: rgba(46, 240, 185, 0.4) 5px 5px, rgba(46, 240, 185, 0.4) 10px 10px, rgba(46, 240, 185, 0.4) 15px 15px, rgba(46, 240, 185, 0.4) 20px 20px, rgba(46, 240, 185, 0.4) 25px 25px;
// }

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
  margin-bottom: 0;
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.15rem;
  border-radius: 50rem;
  padding: 0.2rem 0.7rem;
  background-color: $light-green;
  color: $green;
  border: 1px solid $green;
  margin-right: 0.6rem;
  overflow: hidden;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $green;
  color: white;
}

.rounded-sm {
  border-radius: 0.5rem;
}

.tag-pill {
  font-size: 1.15rem;
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  background-color: $light-gray;
  color: $secondary;
  // border: 1px solid $secondary;
  margin-right: 0.6rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.tag-pill-status {
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.2rem 0.7rem;
  // border: 1px solid $secondary;
  // margin-right: 0.6rem;
  overflow: hidden;
  // margin-bottom: 0.5rem;
}

textarea.form-control {
  min-height: 6rem;
}

.suggestions {
  z-index: 2000;
}

.suggestions {
  top: auto !important;
  bottom: 100% !important;
}

.suggestions-wrapper {
  ul {
    transform: rotate(180deg);
  }
  ul > li {
    transform: rotate(-180deg);
  }
}

.mapboxgl-ctrl-geocoder--powered-by {
  transform: rotate(180deg);
}

a {
  text-decoration: none;
  color: black;
}

.actions-buttons {
  width: 3rem;
  background-color: white;
  margin: auto;
  // padding: auto;
  height: 3rem;
  border-radius: 25%;
}

.action-text {
  font-size: 0.9rem;
  text-align: center;
  margin-top: -0.5rem;
}

.n-top {
  margin-top: -1rem;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: inherit;
}
