<%= render "shared/actions" %>
<%= render 'shared/post_show' %>
<% if @suggested_loads.empty? %>
<p class="text-muted px-4" style= "margin-left: 2.5rem;"><small>Нема ниеден товар што одговара на оваа објава</small></p>
<% else %>
<p class="text-muted px-4" style= "margin-left: 2.5rem;"><small>Предлози за товар</small></p>
<% end %>
<% @suggested_loads.each do |t| %>
  <%= link_to load_path(t) do %>
    <div class="px-3"><%= render 'shared/post', t: t %></div>
  <% end %>
<% end %>
