<div class="container col-lg-9 mx-auto px-3">
  <%= render "shared/templates_tabs" %>
  <% if @trucks.length == 0 %>
    <p class="p-3 m-0 text-muted mt-2 bg-white rounded-4"><small>Немате ниту еден шаблон моментално, треба првин да креирате објава.</small></p>
  <% end %>
  <% @trucks.each do |t| %>
    <%= link_to new_truck_path(:truck_type => t.truck_type, :length => t.length, :weight => t.weight, :comment => t.comment, :pickup => t.pickup.place, :dropoff => t.dropoff.place), "data-turbo" => "false" do %>
      <%= render 'shared/post_template', t: t %>
    <% end %>
  <% end %>
</div>
