<% if notice %>
  <div class="bg-info text-center text-primary py-3" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="bg-warning text-center text-danger py-3" role="alert">
    <%= alert %>
  </div>
<% end %>
