<div class="d-flex">
  <p class="text-center text-truncate pb-3 w-50 border-bottom border-3
    <% if current_page?(loads_path) %> border-primary
    <% end %>">
    <%= link_to "Oгласи за товар", loads_path %>
  </p>
  <p class="text-center text-truncate pb-3 w-50 border-bottom border-3
    <% if current_page?(trucks_path) %> border-primary
    <% end %>">
    <%= link_to "Огласи за камион", trucks_path %>
  </p>
</div>
