  <div class="row px-4 py-2">
    <% if current_page?(loads_path) %>
    <%= link_to "Moи Товари 📦", loads_path, style: "font-size: 1rem", class: "col-6 btn my-2 py-3 px-3 border-bottom border-3 border-primary border-top-0 border-start-0 border-end-0" %>
    <% else %>
    <%= link_to "Moи Товари 📦", loads_path, style: "font-size: 1rem", class: "col-6 btn my-2 py-3 px-3 border-bottom border-3 border-light-gray border-top-0 border-start-0 border-end-0" %>
    <% end %>
    <% if current_page?(trucks_path) %>
    <%= link_to "Мои возила 🚛", trucks_path, style: "font-size: 1rem", class: "col-6 btn my-2 py-3 px-3 border-bottom border-3 border-primary border-top-0 border-start-0 border-end-0" %>
    <% else %>
    <%= link_to "Мои возила 🚛", trucks_path, style: "font-size: 1rem", class: "col-6 btn my-2 py-3 px-3" %>
    <% end %>
  </div>
