<div class="border mb-4 rounded-4 px-4 py-3">
  <p class="fw-bolder"><small>Добредојдовте!</small></p>
  <p class="text-truncate m-0">
  <% @users.each do |user| %>
    <% if user.first_name.present? && user.last_name.present? %>
      <%= user.first_name %> <%= user.last_name %>;
    <% end %>
  <% end %>
  </p>
</div>
