<div class="mt-5 pt-2">
  <p class="my-4 text-center"><%= image_tag "logoo.png" , class:"", style: "border-radius: 0.75rem; width: 2.75rem; zoom: 150%;" %></p>
  <p class="fw-bolder text-center" style="font-size: 1.15rem"><span class="">Едноставна</span> шпедиција.</span></h5>
  <p class="text-muted text-center mb-5 ">
  <small>
  Без мака пронајдете го вистинскиот превозник или испраќач за вашите
  специфични потреби.
  </small>
  </p>
  <p class="text-center"><%= link_to "Регистрација", new_user_registration_path, class: "px-4 btn btn-lg btn-primary  rounded-4 text-white" %></p>
</div>
<p class="text-center text-primary fixed-bottom"><%= link_to "Најави се", new_user_session_path, class: "text-primary mb-5 btn" %></p>
