<div class=" mt-5 pt-4 pb-3 px-3 mb-3">
  <p class=" mb-5 fw-bold display" style="font-size: 1.5rem"><%= image_tag "logoo.png" , class:"rounded-3", style: "width: 2rem" %> cargster</p>
  <p class="fw-bolder display-4 "><span class="">Едноставна</span> шпедиција.</span></h5>
  <p class="text-muted mb-4 ">
  <small>
  Заштедува време и мака обезбедувајќи
  брз и лесен начин да го пронајдете вистинскиот превозник или испраќач за вашите
  специфични потреби.
  </small>
  </p>
  <%= link_to "Регистрација", new_user_registration_path, class: "btn-lg mb-3 btn btn-primary w-100 text-white" %>
  <%= link_to "Најава", new_user_session_path, class: "btn-lg mb-2 btn w-100" %>
</div>

<p class="text-muted text-center fixed-bottom my-5"><small>Направено со ❤️ во Македонија</small></p>
