<%= render 'shared/actions' %>
<%= render 'shared/post_show' %>
<p class="text-muted px-4" style= "margin-left: 2.5rem;"><small>Предлози за товар</small></p>
<% if @suggested_trucks.empty? %>
<p class="text-muted px-4" style= "margin-left: 2.5rem;"><small>Нема ниедно возило што одговара на оваа објава</small></p>
<% else %>
<p class="text-muted px-4" style= "margin-left: 2.5rem;"><small>Предлози за товар</small></p>
<% end %>
<% @suggested_trucks.each do |t| %>
  <%= link_to truck_path(t) do %>
    <div class="px-3"><%= render 'shared/post', t: t %></div>
  <% end %>
<% end %>
