<div class="p-4 col-lg-6 mx-auto">
    <h4>Политика за приватност на нашата веб-апликација:</h4>

    <p>Ние сме посветени на заштита на приватноста на нашите корисници и ја имплементиравме оваа политика за приватност за да обезбедиме транспарентност и да обезбедиме усогласеност со важечките закони.</p>
    <p>Ние собираме и обработуваме лични информации како што се вашето име, адреса на е-пошта, телефонски број, име на компанија, целосна адреса, даночен број на субјект, матичен број на субјект и IP адреса кога се регистрирате за сметка и ја користите нашата услуга.</p>
    <p>Ние ги користиме личните информации за да ја обезбедиме услугата, како што се креирање и усогласување објави, и за внатрешни цели како што се аналитика и подобрување на услугата.</p>
    <p>Можеме да споделиме лични информации со трети лица даватели на услуги заради обезбедување на услугата, како што се хостирање и одржување.</p>
    <p>Ние не користиме колачиња, немаме врски до надворешни веб-локации.</p>
    <p>Преземаме соодветни мерки за заштита на личните информации од неовластен пристап, промена, откривање или уништување.</p>
    <p>Со користење на нашата услуга, вие се согласувате за собирање, користење и споделување на вашите лични информации како што е опишано во оваа политика.</p>
    <p>Имате право да барате пристап до вашите лични информации, да побарате корекција или бришење на вашите лични информации и да се спротивставите на обработката на вашите лични информации.</p>
    <p>Го задржуваме правото да ја измениме оваа политика за приватност во секое време и ќе обезбедиме известување за какви било материјални промени.</p>
  <div class=" p-4 text-center">
    <small>
    <%= mail_to "nikola@cargster.co", "Контакт" %>
    -
    <%= link_to "Пoлитика на приватност", privacy_path %>
    -
    <%= link_to "Услови на користење", terms_path %>
    <p class="my-2">© Cargster 2023</p>
    </small>
  </div>
</div>
