<%= render "shared/navbar" %>
<div class="px-4 py-3">
  <p class="fw-bolder" style= "margin-left: 2rem;"><small>За мене:</small></p>
  <p><span class="mx-1 fa fa-solid fa-envelope text-primary"></span>
    <%= @user.email %>
  </p>
</div>
<div class="container px-4">
  <%= link_to "Одјава", destroy_user_session_path, class: "btn bg-white rounded-4 text-danger w-100",  data: { turbo_method: :delete } %>
</div>
