<div class="p-4 col-lg-5 mx-auto">
  <h4>Услови за користење на нашата веб-апликација:</h4>
  <p>Со регистрирање за сметка на нашата веб-апликација, потврдувате дека сте ги
   прочитале и се согласувате со овие услови за користење.</p>
  <p>Нашата веб-апликација првично е обезбедена бесплатно, но го задржуваме правото
   да ја монетизираме во иднина, во тој случај ќе ги известиме нашите корисници и ќе
    обезбедиме опција корисникот да прекине со користење на услугата.</p>
  <p>Вие сте единствено одговорни за обезбедување точни и целосни информации при
   пополнување на вашиот профил, вклучувајќи го вашето полно име, име на компанија,
   мобилен број, целосна адреса на компанијата, ДДВ и број на стопанска комора.
   </p>
  <p>Може да креирате објави за камион или товар со внесување на бараните
  информации, како што се датумот на товарење, типот на возилото, регионите за
  утовар и истовар, должина и тежина. Достапни се и изборни полиња, како што се
   дополнителни коментари.</p>
  <p>Може да гледате други објави, вклучувајќи ги информациите
  за објавата и корисникот кој го објавил.</p>
  <p>Може да контактирате со други корисници преку е-пошта, Viber, WhatsApp или да
  се јавите.</p>
  <p>Можете да ги деактивирате вашите сопствени објави во секое време.</p>
  <p>Го задржуваме правото да отстраниме која било содржина или да укинеме сметки
   што ги прекршуваат нашите услови за користење или важечките закони.</p>
  <p>Нашата веб-апликација е обезбедена на основа „како што е“ и „како што е
  достапна“ и не даваме гаранција дека ќе ги исполни вашите барања или ќе биде
  достапна на непрекината, безбедна или без грешки основа.</p>
  <p>Со користење на услугата, вие се согласувате да не држите безопасни
  од какви било побарувања, штети, загуби или трошоци кои
  произлегуваат од или на кој било начин поврзани со вашата употреба на услугата.</p>
  <p>Го задржуваме правото да ги измениме овие услови за користење во секое
  време и ќе обезбедиме известување за какви било промени.</p>
  <div class=" p-4 text-center">
    <small>
    <%= mail_to "nikola@cargster.co", "Контакт" %>
    -
    <%= link_to "Пoлитика на приватност", privacy_path %>
    -
    <%= link_to "Услови на користење", terms_path %>
    <p class="my-2">© Cargster 2023</p>
    </small>
  </div>
</div>
