<div class="p-4 m-1 bg-white rounded-4 mt-2"><p class="text-muted">Потребно е да го комплетирате вашиот профил.</p>
  <%= link_to 'Комплетирајте сега', edit_user_registration_path, class:"btn btn-primary text-white w-100" %>
</div>
