<div class="p-4 m-1 bg-white mt-2" style="border-radius: 0.75rem;">
  <p class="text-muted"><small>
  Преостанува уште да го комплетирајте вашиот профил, со тоа ќе ја зголемите
  довербата на нашата платформа.
  </small></p>
  <%= link_to 'Комплетирај профил', edit_user_registration_path, class:"btn btn-primary text-white w-100" %>
</div>
