<div class="px-4 m-3 bg-white rounded-4 py-3 mt-2"><p class="text-muted">😔 Нема ниеден товар што одговара на оваа објава.</p>
  <%= mail_to '', 'Сподели по е-маил', subject: 'Hello', body: 'How are you?', class:"btn btn-primary text-white w-100" %>
</div>
