<div class="p-4 bg-white rounded-4 my-2">
  <p class="fw-bolder mb-1"><small>Не се пронајдени резултати.</small></p>
  <p class="text-muted mb-1"><small>Можеби сè уште нема многу корисници на платформата. Ве молиме поканете ги вашите индустриски партнери да се придружат</small></p>
  <p class="text-muted"><small></small></p>

  <%= render 'shared/prefilled_email' %>
</div>
