<div class="p-4 bg-white rounded-4 my-2">
  <p class="fw-bolder mb-1"><small>Не се пронајдени резултати. 😔</small></p>
  <p class="text-muted mb-1"><small>Можеби сè уште нема многу корисници на платформата. Ве охрабруваме да ги поканете вашите индустриски партнери да ви се придружат</small></p>
  <p class="text-muted"><small></small></p>

  <%= render 'shared/prefilled_email' %>
</div>
