.mapboxgl-ctrl-geocoder {
  max-width: 100%;
  width: 100%;
  border-radius: 0.1rem;
  border: 1px solid #CED4D9;
  box-shadow: none;
  background-color: $light-gray;
  transform: scaleY(0.85);
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}


.mapboxgl-ctrl-geocoder--icon-close {
  margin: 0.5rem;
}
