<p>Добредојде <%= @email %>!</p>

<p>Потврдете ја вашата е-пошта со кликање на следниот линк:</p>

<p><%= link_to 'Потврди е-пошта', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Поздрав</p>

<p>Никола</p>
<p>+38979310195</p>
