<p>Добредојде <%= @email %>!</p>

<p>Ви благодариме што се регистриравте на Cargster.co.
За да ја завршите регистрацијата, кликнете на врската подолу
 за да ја потврдите вашата е-пошта: 👇🏻
</p>
<p><%= link_to 'Потврди е-пошта', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Откако ќе ја потврдите вашата адреса на е-пошта, ќе можете да се најавите
и да започнете да ја користите нашата платформа за да најдете товари
или превозници што одговараат на вашите потреби. Ако имате какви било
прашања или ви треба дополнителна помош, не двоумете се да не
контактирате на nikola@cargster.co или на +38979310195.
</p>
<p>Поздрав</p>
